<div>
    <form data-file-upload="options">
        <div class="row fileupload-buttonbar">
            <div class="col-sm-3">
                <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Upload file</span>
                    <input type="file" name="file">
                </span>
            </div>
        </div>
    </form>
    <div id="progress">
        <div class="bar"></div>
    </div>
    <div ng-if="className">
        <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
        <div class={{className}} style="height:366px;min-width:600px">&nbsp;</div>
    </div>
</div>